<!-- Your Account Personal Information -->

<div class="container">
	<div class="row">
		<div class="col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Chat / Messages</h6>
					<a href="#" class="more">
						<svg class="olymp-three-dots-icon">
							<use xlink:href="../../assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
						</svg>
					</a>
				</div>

				<div class="row">
					<div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12 padding-r-0">


						<!-- Notification List Chat Messages -->

						<ul class="notification-list chat-message">
							<li *ngFor="let item of prepareConversations" (click)="openConversation(item.conversationId)">
								<div class="author-thumb">
									<img src="http://graph.facebook.com/{{ item.conversationWithId }}/picture?width=36&height=36" alt="author">
								</div>
								<div class="notification-event">
									<a href="#" class="h6 notification-friend">{{ item.conversationWith }}</a>
									<span class="chat-message-item">{{ item.lastMessage }}</span>
									<span class="notification-date">
										<time class="entry-date updated" datetime="2004-07-24T18:18">{{ item.time | amCalendar }}</time>
									</span>
								</div>
								<span class="notification-icon">
									<svg class="olymp-chat---messages-icon">
										<use xlink:href="../../assets/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
									</svg>
								</span>

								<div class="more">
									<svg class="olymp-three-dots-icon">
										<use xlink:href="../../assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
									</svg>
								</div>
							</li>
						</ul>

						<!-- ... end Notification List Chat Messages -->



					</div>

					<div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12 padding-l-0">


						<!-- Chat Field -->

						<div class="chat-field">
							<div class="ui-block-title">
								<h6 class="title">{{openedConversationDetails.displayName}}</h6>
								<a href="#" class="more">
									<svg class="olymp-three-dots-icon">
										<use xlink:href="../../assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
									</svg>
								</a>
							</div>
							<div class="mCustomScrollbar" data-mcs-theme="dark">
								<ul class="notification-list chat-message chat-message-field">
									<li *ngFor="let item of conversations">
										<div class="author-thumb">
											<img src="http://graph.facebook.com/{{item.sender_id}}/picture?width=36&height=36" alt="author">
										</div>
										<div class="notification-event">
											<a href="#" class="h6 notification-friend">{{ item.sender_name }}</a>
											<span class="notification-date">
												<time class="entry-date updated">{{ item.time | amCalendar}}</time>
											</span>
											<span style="min-width: 436px" class="chat-message-item">{{ item.message }}</span>
										</div>
									</li>
								</ul>
							</div>

							<form>

								<div class="form-group label-floating is-empty">
									<label class="control-label">Write your reply here...</label>
									<textarea  #val (keyup)="onSubmit($event,val)" class="form-control" placeholder=""></textarea>
								</div>

								<div class="add-options-message">
									<button class="btn btn-primary btn-sm">Reply</button>
								</div>

							</form>

						</div>

						<!-- ... end Chat Field -->


					</div>
				</div>

			</div>


		</div>

		<div class="col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-xs-12 responsive-display-none">
			<div class="ui-block">



				<!-- Your Profile  -->

				<div class="your-profile">
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">Your PROFILE</h6>
					</div>

					<div id="accordion" role="tablist" aria-multiselectable="true">
						<div class="card">
							<div class="card-header" role="tab" id="headingOne">
								<h6 class="mb-0">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Profile Settings
										<svg class="olymp-dropdown-arrow-icon">
											<use xlink:href="../../assets/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use>
										</svg>
									</a>
								</h6>
							</div>

							<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
								<ul class="your-profile-menu">
									<li>
										<a href="28-YourAccount-PersonalInformation.html">Personal Information</a>
									</li>
									<li>
										<a href="29-YourAccount-AccountSettings.html">Account Settings</a>
									</li>
									<li>
										<a href="30-YourAccount-ChangePassword.html">Change Password</a>
									</li>
									<li>
										<a href="31-YourAccount-HobbiesAndInterests.html">Hobbies and Interests</a>
									</li>
									<li>
										<a href="32-YourAccount-EducationAndEmployement.html">Education and Employement</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="ui-block-title">
						<a href="33-YourAccount-Notifications.html" class="h6 title">Notifications</a>
						<a href="#" class="items-round-little bg-primary">8</a>
					</div>
					<div class="ui-block-title">
						<a href="34-YourAccount-ChatMessages.html" class="h6 title">Chat / Messages</a>
					</div>
					<div class="ui-block-title">
						<a href="35-YourAccount-FriendsRequests.html" class="h6 title">Friend Requests</a>
						<a href="#" class="items-round-little bg-blue">4</a>
					</div>
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">FAVOURITE PAGE</h6>
					</div>
					<div class="ui-block-title">
						<a href="36-FavPage-SettingsAndCreatePopup.html" class="h6 title">Create Fav Page</a>
					</div>
					<div class="ui-block-title">
						<a href="36-FavPage-SettingsAndCreatePopup.html" class="h6 title">Fav Page Settings</a>
					</div>
				</div>

				<!-- ... end Your Profile  -->



			</div>
		</div>
	</div>
</div>

<!-- ... end Your Account Personal Information -->