<!-- Window-popup Edit Widget Blog Post -->

<div class="modal fade" id="edit-widget-blog-post">
	<div class="modal-dialog ui-block window-popup edit-widget edit-widget-blog-post">
		<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
			<svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
		</a>

		<div class="ui-block-title">
			<h6 class="title">Edit Blog Posts</h6>
		</div>

		<div class="ui-block-content">
			<fieldset class="form-group label-floating is-select">
				<label class="control-label">Amount of Blog Posts</label>
				<select class="selectpicker form-control">
					<option value="AL">Show 3 Blog Posts</option>
					<option value="2">Show 6 Blog Posts</option>
					<option value="WY">Show 9 Blog Posts</option>
				</select>
			</fieldset>

			<fieldset class="form-group label-floating is-select">
				<label class="control-label">Organize Posts</label>
				<select class="selectpicker form-control">
					<option value="AL">By Date (Newest to Oldest)</option>
					<option value="2">By Favorites</option>
					<option value="WY">By Repost</option>
				</select>
			</fieldset>

			<a href="#" class="btn btn-primary btn-lg full-width">Save all Changes</a>
		</div>

	</div>
</div>

<!-- ... end Window-popup Edit Widget Blog Post -->
