body {
    padding-top: 50px;
	background: #f0f5f9;
	color: #0e2735;
}

a {
	color: #c5519e;
}

.banner-example {
	display: none !important;
}

body>.navbar {
    -webkit-transition: background-color .3s ease-in;
    transition: background-color .3s ease-in
}

.no-margin {
	margin: 0 !important;
}
.img-circle {
	max-width: 50px;
	width: 50px;
}
.margin-10 {
	margin-top: 10px;
}
img.profile-photo-sm {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* MOBILE */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background: #4e5d6c;
}
.search-box ul {
	z-index: 999;
}

/* HEADER */
.navbar {
	height: 80px;
}
.navbar .container {
	padding-top: 10px;
}
.navbar-brand img {
	width: 40px;
}
.navbar-right {
	margin-top: 10px;
	font-size: 16px;
}

/* SEARCH ON TOP */
.search-top .form-group {
    position: relative;
	margin-top: 3px;
}
.search-top .form-group i.icon {
    position: absolute;
    left: 9px;
    top: 9px;
    color: #fff;
}
.search-top .form-group input.form-control {
    background: rgba(255,255,255, 0.2);
    border: 0;
    box-shadow: none;
    min-width: 255px;
    color: #fff;
    height: 35px;
    border-radius: 13px;
    font-size: 16px;
    padding-left: 30px;
}
/* NOT FIXED POSITIONS */
#banner, #right-content {
	position: fixed;
}
/* BANNER */
#banner h1 {
	font-size: 3.1em;
}
#banner .lead {
	word-break: break-all;
}
#banner .list-group-item {
	margin-bottom: 1px;
}
#banner .list-group .icon {
	margin-right: 12px;
}

/* CONTENT PAGE */
#page-content {
	background: #FFF;
	height: 100%;
	min-height: 100%;
	overflow-x: auto;
	color: #2b3e50;
}

/* WELCOME BOX */
.welcome-box {
	padding: 6px;
	float: left;
	margin-bottom: 20px;
	width: 100%;
}
.welcome-box .col-sm-3 {
	padding-top: 2%;
}
.welcome-box .bubble {
	background: #deffdc;
	border: 1px solid #cef6cc;
	border-radius: 5px;
	padding: 12px;
}

/* NEWS BOX */
.news-box {
	background: #f8f8f8;
	box-shadow: 0 0 8px #CCC;
	padding: 6px;
	float: left;
	margin-bottom: 20px;
	width: 100%;
}
.news-box .header {
	height: 60px;
}
.news-box .header .col-md-2 {
	width: 10%;
}
.news-box .header .col-md-7 {
	width: 70%;
}
.news-box .header .col-md-3 {
	width: 20%;
}
.news-box .header h3 {
	margin-top: 14px;
}
.news-box .header .user {
	margin: 8px 0 0 0;
	padding: 0;
}
.news-box .header .vote {
	margin-top: 17px;
	color: #333;
	font-size: 0.9em;
}
.news-box .header .signup {
	margin-top: 7px;
}
.news-box .header .vote .negative {
	color: #d9534f;
}
.news-box .header .time {
	color:  #CCC;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}
.news-box .content {
	border-top: 1px solid #ddd;
	padding: 6px;
}
.news-box .content h3 {
	margin-top: 12px;
}
.news-box .content h3 span, .news-box .header h3 span {
	font-size: 0.7em;
	font-style: italic;
	color: #c3c2c2;
	margin-left: 10px;
}
.news-box .content .comments {
	border-top: 1px solid #ddd;
	background: #f1f1f1;
	padding: 2%;
	width: 100%;
	float: left;
}

.news-box .content .comments .col-sm-1 { 
	width: 8.33333333%;
	padding-left: 0;
}
.news-box .content .comments .col-sm-11 { 
	width: 91.66666667%;
}
.news-box .content .all-comments {
	background: #4e5d6c;
	width: 100%;
	float: left;
	text-align: center;
	cursor: pointer;
	margin-bottom: 6px;
}
.news-box .content .all-comments a, .news-box .content .all-comments a:hover {
	color: #FFF;
	width: 100%;
	padding: 20px 0;
	display: block;
	cursor: pointer;
	float: left;
}
.news-box .footer {
	padding: 7px 0;
	float: left;
	width: 100%;
	background: #4E5D65;
}
.news-box .footer p {
	margin: 0;
	padding: 0;
	font-size: 0.7em;
	color: #CCC;
}

@media (min-width:768px) {
    body>.navbar-transparent {
        background-color: transparent
    }
    body>.navbar-transparent .navbar-nav>.open>a {
        background-color: transparent!important
    }
}

#home {
    padding-top: 0
}

#home .navbar-brand {
    padding: 13.5px 15px 12.5px
}

#home .navbar-brand>img {
    display: inline;
    margin: 0 10px;
    height: 100%
}

#banner {
    min-height: 300px;
    height: 100%;
}

.page-header h1 {
    font-size: 4em
}

.bs-docs-section {
    margin-top: 6em
}

.bs-docs-section h1 {
    padding-top: 100px
}

.bs-component {
    position: relative
}

.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block
}

.bs-component .modal-dialog {
    width: 90%
}

.bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px
}


footer {
	margin-top: 20px;
    padding: 20px 0;
	border-top: 1px dotted #2b3e50;
	font-size: 0.8em;
}

footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1em;
}

footer p {
    clear: left;
    margin: 0;
}

#right-content {
	margin-top: 50px;
}
.people-item {
	border-bottom: 1px dotted #5a6d7d;
	width: 100%;
	float: left;
	padding-bottom: 10px;
    margin-bottom: 10px;
}
.people-item .image {
	margin-top: 12px;
}

.banner-example {
	width: 90%;
	margin-left: 15px;
	margin-top: 20px;
	height: 200px;
	float: left;
	display: block;
	background: #FFF;
	color: #666;
	text-align: center;
	font-size: 2em;
	padding-top: 70px;
}


/* DATE PICKER */
.datepicker { 
  width: 100%; 
  position: relative;
  background: #fff;
  border: 1px solid #1b363f;
}
.datepicker table {
    width: 100%;
}

.ui-datepicker-header {
  height: 35px;
  line-height: 35px;
  color: #fffefd;
  background: #1B363F;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border: 2px solid #dafef1;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: 8px;
}
.ui-datepicker-prev {
  float: left;
  margin-left: 12px;
}
.ui-datepicker-prev:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          margin: -29px 0px 0px 8px;
}
.ui-datepicker-next {
  float: right;
  margin-right: 12px;
}
.ui-datepicker-next:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
          margin: -29px 0px 0px 6px;
}
.ui-datepicker-prev:after,
.ui-datepicker-next:after {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-left: 2px solid #b0aead;
  border-bottom: 2px solid #b0aead;
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
  border-color: #5ed1cc;
}
.ui-datepicker-title {
  text-align: center;
}
.ui-datepicker-calendar {
  text-align: center;
  width: 100%;
}
.ui-datepicker-calendar thead{
  background: #79a1cb;
  color: #FFFFFF;
}

.ui-datepicker-calendar thead tr th span {
  display: block;
  color: #ffffff;
  padding: 0px 8px;
  font-size: 13px;
}
.ui-state-default {
    display: block;
    text-decoration: none;
    color: #000000 !important;
    line-height: 40px;
    font-size: 12px;
    text-decoration: none !important;
}
.ui-state-default:hover {
    background: rgb(224, 224, 224);
}
.ui-state-highlight {
  color: #8dd391;
}
.ui-state-active {
  color: #5ed1cc;
}
.ui-datepicker-unselectable .ui-state-default {
  color: #eee;
  border: 2px solid transparent;
}

/* EVENT LIST */
.event-box {
    background: #f8f8f8;
    border: 1px solid #f1f2f2;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px;
}
.event-box .img-wrapper {
    background-repeat: no-repeat;
	background-size: cover;
	min-height: 90px;
	height: 100%;
	background-position: center;
}
.event-box .user-info {
	text-align: center;
	padding-top: 10px;
}
.event-box img.profile-photo-sm {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.event-box .user {
	width: 100%; 
	display: block;
}
.event-box .user h6 {
	font-size: 11px;
	margin-top: 6px;
}

/* MINI CALENDAR */
.mini-calendar {
	margin-top: 110px;
}

/* EVENT DETAIL */
.event-detail .signup {
	margin-top: 30px;
	background: #132736;
	padding: 20px 0;
	color: #FFF;
}
.event-detail .signup .decision {
	margin-left: 12px;
	font-weight: bold;
	
}
.event-detail .signup .decision a {
	margin-left: 10px;
}
.event-detail h1 {
	padding-top: 0;
	margin-left: 12px;
}
.event-detail .cover-image {
	 background-repeat: no-repeat;
	background-size: cover;
	height: 250px;
	background-position: center;
}
.event-detail .details {
	margin: 20px 0;
	background: #e5ebf0;
	padding: 10px;
	font-size: 12px;
	
}
.event-detail .details .txt {
	padding: 5px 0;
}
.event-detail .guests {
	margin-top: 20px;
	border-top: 1px dotted #283e4f;
	padding: 0 12px;
}
.event-detail .guests ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.event-detail .guests ul li {
	margin: 0 6px 10px 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}
.event-detail .guests .user-round img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.event-detail .guests .user-round a {
	width: 60px;
	height: 60px;
	display: block;
}
.event a {
    background-color: #ee63a4 !important;
    color: #ffffff !important;
}


/* GROUP LIST */
.group-box {
    overflow: hidden;
    margin-bottom: 20px;
	height: 190px;
}
.group-box .img-wrapper {
    background-repeat: no-repeat;
	background-size: cover;
	min-height: 90px;
	background-position: center;
}
.group-box .group-info {
	padding-top: 10px;
	background: #f8f8f8;
    border: 1px solid #f1f2f2;
    border-radius: 4px;
}
.group-box .group-info h4 {
	font-size: 14px;
}
.group-box .group-info p {
	font-size: 12px;
}

/* GROUP DISCUSSION */
.new-discussion {
	background: #fdeef3;
	margin-bottom: 20px;
	padding-bottom: 12px;
}
.new-discussion h5 {
	padding: 6px 0 6px 3px;
	font-weight: bold;
}
.new-discussion .title {
	width: 100%;
	font-size: 12px;
}
.new-discussion .desc {
	width: 100%;
	min-height: 150px;
	font-size: 12px;
	margin-top: 6px;
}
.new-discussion .btn-primary { 
	background: #cb4784;
}

/* PROFILE */
.profile #banner, .profile #right-content {
	position: relative;
}
.profile .bs-docs-section {
	margin-top: 2em;
}
.profile .cover {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 350px;
	width: 100%;
}
.profile h1, .profile h2, .profile h3, .profile h4 {
	margin: 0;
	padding: 0;
}
.profile .your-header h1 {
	margin-top: 30px;
	font-size: 32px;
	font-weight: bold;
}
.profile .your-header h2 {
	font-size: 24px;
	font-weight: lighter;
}
.profile .your-header .btn-success {
	margin-top: 35px;
}
.profile .profile-photo {
	width: 100%;
	height: 140px;
	border-radius: 50%;
}
.profile .infos {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 3px solid #f1f2f2;
}
.profile .infos h2 {
	font-size: 22px;
	font-weight: lighter;
}
.profile .infos p {
	font-size: 14px;
	margin-top: 6px;
}
.profile .infos ul, .profile .infos li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.profile .infos ul {
	margin-top: 10px;
	margin-bottom: 20px;
}
.profile .infos ul li {
	margin-bottom: 6px;
}
.profile .infos ul li i {
	width: 25px;
}
.profile .group-list {
	margin-top: 20px;
}
.profile .see-more {
	margin-top: 10px;
	margin-bottom: 20px;
}
.profile .friends {
	margin-top: 20px;
	padding: 0 20px;
	padding-top: 20px;
	border-top: 3px solid #f1f2f2;
}
.my-friend {
	margin: 0 auto;
	max-width: 90px;
    width: 90px;
}
.profile .friends h2 {
	font-size: 22px;
	font-weight: lighter;
}
.profile .friends p {
	font-size: 14px;
	margin-top: 6px;
	margin-bottom: 10px;
}
.profile .friends .col-sm-3 {
	padding-top: 6px;
	margin-bottom: 12px;
	border-bottom: 1px dotted #f1f2f2;
}

/* GROUP DETAIL */
.activity .btn, .discussion .btn {
	margin-top: 10px;
}

/* CREATE EVENT */
.add-event {
	
}
.add-event .form-group {
	margin-bottom: 6px;
	width: 100%;
}
.add-event label {
	width: 25%;
	padding-top: 10px;
	display: inline;
}
.add-event .input-group-lg {
	width: 75%;
	border: 1px solid #ccc;
}
.add-event textarea {
	width: 75% !important;
	border: 1px solid #ccc;
	min-height: 400px;
}

/* MESSAGES */
/*Chat Contact List*/
.chat-room h1 {
	margin: 0;
	padding: 0;
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 32px;
	font-weight: lighter;
}

.chat-room .nav-tabs>li.active>a, .chat-room .nav-tabs>li.active>a:hover, .chat-room .nav-tabs>li.active>a:focus {
	background: #4E5D6B;
}
.chat-room .text-muted {
	color: #CCC;
}
.chat-room .active h6 {
	color: #ebebeb
}
.chat-room h6 {
	color: #000;
}

.chat-room ul.contact-list li{
  width: 100%;
  margin-bottom: 0;
}

.chat-room ul.contact-list li a{
  border: none;
  padding: 10px 0;
  border-bottom: 1px solid #f1f2f2 !important;
}

.chat-room ul.contact-list li a:hover, .chat-room ul.contact-list li a:active, .chat-room ul.contact-list li a:focus{
  border: none;
  border-bottom: 1px solid #8dc63f !important;
  border-radius: 0;
  cursor: pointer;
  background: none;
}

.chat-room ul.contact-list li a .contact{
  margin-left: 10px;
  margin-right: 10px;
}

.chat-room ul.contact-list li a .contact .msg-preview{
  margin-left: 50px;
}

.chat-room ul.contact-list li a .contact .msg-preview small{
  position: absolute;
  top: 20px;
  right: 10px;
}

.chat-room ul.contact-list li a .contact .msg-preview .chat-alert{
  background: red;
  text-align: center;
  border-radius: 4px;
  padding: 1px 6px;
  position: absolute;
  right: 10px;
  bottom: 20px;
  color: #fff;
}

.chat-room ul.contact-list li a .contact .msg-preview .seen, .replied{
  color: #939598;
  position: absolute;
  right: 10px;
  bottom: 20px;
  font-size: 14px;
}

/*Chat Messages*/

.chat-room .chat-body ul.chat-message{
  padding: 0;
  margin: 0;
}

.chat-room .chat-body ul.chat-message li{
  list-style: none;
  margin-bottom: 20px;
}

.chat-room .chat-body ul.chat-message li.left .chat-item{
  background: rgba(141,198,63, .1);
  margin-left: 50px;
  padding: 5px 10px;
  position: relative;
  border-radius: 10px;
}

.chat-room .chat-body ul.chat-message li.left .chat-item::before{
  border-bottom: 10px solid transparent;
  border-right: 8px solid rgba(141,198,63, .1);
  border-top: 10px solid transparent;
  content: "";
  height: 0;
  left: -8px;
  position: absolute;
  top: 10px;
  width: 0;
}

.chat-room .chat-body ul.chat-message li.left .chat-item .chat-item-header{
  border-bottom: 1px dotted #caef8e;
  margin-bottom: 10px;
}

.chat-room .chat-body ul.chat-message li.right .chat-item{
  background: rgba(39,170,225, .1);
  margin-right: 50px;
  padding: 5px 10px;
  position: relative;
  border-radius: 10px;
}

.chat-room .chat-body ul.chat-message li.right .chat-item::after{
  border-bottom: 10px solid transparent;
  border-left: 8px solid rgba(39,170,225, .1);
  border-top: 10px solid transparent;
  content: "";
  height: 0;
  right: -8px;
  position: absolute;
  top: 10px;
  width: 0;
}

.chat-room .chat-body ul.chat-message li.right .chat-item .chat-item-header{
  border-bottom: 1px dotted #bce8f7;
  margin-bottom: 10px;
}

.chat-room .chat-body ul.chat-message li .chat-item .chat-item-header h5{
  color: #4d4d4d;
}

.chat-room .chat-body ul.chat-message li .chat-item .chat-item-header small{
  position: absolute;
  top: 15px;
  right: 20px;
}

.chat-room .send-message{
  background: #f8f8f8;
  padding: 20px;
  border-radius: 4px;
}

.chat-room .send-message button{
  background: #000;
  color: #fff;
}

/*CSS for custom scrollbar*/

.scrollbar-wrapper.scrollbar-dynamic {
    max-height: none;
}
.scrollbar-wrapper.tab-content{
    overflow-y: auto;
    height: 100%;
}

.scrollbar-wrapper.contact-list{
    overflow-y: auto;
    height: 100%;
    border: none;
    margin-bottom: 20px;
}

.scrollbar-wrapper {
    height: 100%;
    overflow: auto;
    width: 100%;
}


#intropage {
	padding-top: 0;
}

.image-bg-top {
	min-height: 400px;
    background-image: url(../images/zurich.jpg);
    background-size: cover;
    background-attachment: fixed;
	background-position: center center;
    text-align: center;
	color: #FFF;
	padding: 60px 0;
}
.splash .logo {
    width: 160px
}

.image-bg-top h1 {
    font-size: 3em;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.image-bg-top h2 {
    font-size: 2em;
	font-family: 'Raleway', sans-serif;
}
.why-join h3 {
    font-size: 2.2em;
	color: #c5519e;
	font-family: 'Raleway', sans-serif;
}
.why-join {
	padding: 60px;
	background: #FFF;
	font-size: 1.7em;
}
.why-join ul {
	margin: 0;
	padding: 20px 0;
}
.why-join ul li {
	list-style: none;
	margin: 0;
	padding: 0 0 12px 0;
	font-weight: lighter;
}
.why-join li span {
	margin-right: 10px;
}
.why-join .item-01 {
	color: #77c9b2;
}
.why-join .item-02 {
	color: #4f6ab2;
}
.why-join .item-03 {
	color: #c8509d;
}
.counter {
	font-size: 1.4em;
	font-weight: 100;
	color: #ccc;
	text-transform: uppercase;
	line-height: 0.8em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

@media (max-width:767px) {
    #banner {
        margin-bottom: 2em;
        text-align: center
    }
	.profile .profile-photo {
		border-radius: 0;
		max-width: 150px;
	}
	.your-header h1 {
		width: 100%;
		text-align: center;
	}
	.your-header, .friends {
		text-align: center;
	}
}
