<!-- Window-popup-CHAT for responsive min-width: 768px -->
<div class="ui-block popup-chat popup-chat-responsive" appOpenChat>
	<div class="ui-block-title">
		<span class="icon-status online"></span>
		<h6 class="title" >Chat</h6>
		<div class="more">
			<svg class="olymp-three-dots-icon"><use xlink:href="../../assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
			<svg class="olymp-little-delete js-chat-open"><use xlink:href="../../assets/svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
		</div>
	</div>
	<div class="mCustomScrollbar">
		<ul class="notification-list chat-message chat-message-field">
			<li  *ngFor="let item of conversations">
				<div class="author-thumb{{item.prefix}}">
					<img src="http://graph.facebook.com/{{ item.sender_id }}/picture?width=36&height=36" alt="author" class="mCS_img_loaded">
				</div>
				<div class="notification-event{{item.prefix}}">
					<span class="chat-message-item{{item.prefix}}">{{ item.message }}</span>
					<span class="notification-date{{item.prefix}}"><time class="entry-date updated">{{item.date | amCalendar}}</time></span>
				</div>
			</li>
		</ul>
	</div>

	<form class="need-validation">
		<div class="form-group label-floating is-empty">
			<label class="control-label">Press enter to post...</label>
			<textarea #val (keyup)="onSubmit($event,val)" formControlName="message" class="form-control" placeholder=""></textarea>
		</div>

	</form>


</div>
<!-- ... end Window-popup-CHAT for responsive min-width: 768px -->
